repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: false
        args: ["."]

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        pass_filenames: false
        args: ["."]

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        pass_filenames: false
        args: ["."]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        pass_filenames: false
        args: ["."]
